{{> header title="Home"}}
    <form action="/add-tag" method="post">
    <li style="display: flex; flex-wrap: wrap">
      <label class="tag">
        <input type="text" name="add-tag" placeholder="add a tag" style="width: 80px; border-radius: 5px; padding: 5px;">
        <input type="submit" value="+">
      </label>
      {{#each tags}}
        <label class="tag">
          <input type="hidden" name="{{name}}" value="{{id}}">
          {{name}}
          <input type="submit" value="−" style="color: red" formaction="/remove-tag/{{name}}">
        </label>
      {{/each}}
    </li>
    </form>
    <li class="menu-item">
    <div class="table">
      <div class="row">
        <div class="cell-title"><b>#</b></div>
        <div class="cell-title"></div>
        <div class="cell-title" style="width: 80%;">title</div>
        <div class="cell-title" style="width: 20%;">latest post</div>
      </div>
    {{#each posts}}
      <div class="row">
        <div class="cell-title">
          {{num}}
        </div>
        <div class="cell">
          {{#if new_posts}}
            👁 
          {{/if}}
        </div>
        <div class="cell">
          <a href="/thread/{{id}}#reply">{{title}}</a>
          {{#each tags}}
            <a href="/t/{{../../curr_path}}{{this}}">
            <div class="tag">{{this}}</div>
            </a>
          {{/each}}
        </div>
        <div class="cell">
          {{#if emphasize_date}}
            <b>{{date}}</b>
          {{else}}
            {{date}}
          {{/if}}
        </div>
      </div>
    {{/each}}
    </div>
    </li>
  </ul>
</body>
