{{> header title="Home"}}
    <form action="/add-tag" method="post">
    <li style="display: inline; vertical-align: middle">
      <label class="selected-tag">
        <input type="text" name="add-tag" placeholder="add a tag" style="width: 80px; border-radius: 5px; padding: 5px;">
        <input type="submit" value="+">
      </label>
      {{#each tags}}
        <label class="selected-tag">
          <input type="hidden" name="{{name}}" value="{{id}}">
          {{name}}
          <input type="submit" value="−" style="color: red" formaction="/remove-tag/{{name}}">
        </label>
      {{/each}}
    </li>
    </form>
    {{#each posts}}
      <li class="menu-item" style="display: grid">
        <div class="table">
          <div class="row">
            <div class="cell" style="width: 60%; padding-left: 25px; vertical-align: middle">
              <a href="/thread/{{id}}#{{jump_to}}">{{title}}</a>
                <div style="margin-left: 0px; font-size: 80%; color: #4d4d4d">
                  └{{replies}}
                  | last activity {{#if emphasize_date}}<b>{{date}}</b>{{else}}{{date}}{{/if}}{{#unless read}} 📨{{/unless}}
                </div>
            </div>
            <div class="cell" style="width: 40%; text-align: right">
              {{#each tags}}
                <a href="/t/{{../../curr_path}}{{this}}">
                <div class="tag">{{this}}</div>
                </a>
              {{/each}}
            </div>
          </div>
        </div>
      </li>
    {{/each}}
  </ul>
</body>
