<div class="table item-{{rarity}}" style="margin: 0 auto;">
    <div class="overlay-row">
        <div class="item-overlay-cell">
            {{{thumbnail}}}
        </div>
    </div>
    <div class="item-overlay-row">
        <div class="item-overlay-cell">
            {{name}}
        </div>
    </div>
    <div class="item-overlay-row" style="text-align: justify;">
        <div class="item-overlay-cell">
            {{description}}
        </div>
    </div>
    <div class="item-overlay-row">
        <div class="item-overlay-cell">
            <div class="rarity-{{rarity}}" style="border-left-color: #FFFFFF;border-top-color: #FFFFFF;">
                {{rarity}}
            </div>
        </div>
    </div>
</div>