{{> header title="Item"}}
    <li class="menu-item">
      <div class="table">
        <div class="row">
          <div class="cell-title"></div>
          <div class="cell-title" style="width: 100%;">
            <div class="item-{{rarity}}">
              {{{thumbnail}}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="cell-title">Name:</div>
          <div class="cell">{{name}}</div>
        </div>
        <div class="row">
          <div class="cell-title">Description:</div>
          <div class="cell">{{description}}</div>
        </div>
        <div class="row">
          <div class="cell-title">Owner:</div>
          {{#with owner}}
            <div class="cell"><a href="/profile/{{id}}">{{name}}</a></div>
          {{/with}}
        </div>
        <div class="row">
          <div class="cell-title">Pattern Id:</div>
          <div class="cell">{{pattern}}</div>
        </div>
        <div class="row">
          <div class="cell-title">Rarity:</div>
          <div class="cell"><div class="item-{{rarity}}">{{rarity}}</div></div>
        </div>
        <div class="row">
          <div class="cell-title">
          </div>
          <div class="cell-title">
            <form action="/equip/{{id}}">
            <input type="submit" value="Equip" {{#unless is_equipable }} disabled {{/unless}}/>
            </form>
          </div>
        </div>
      </div>
    </li>
  </ul>
</body>
      
