{{> header title="Item"}}
    <li class="menu-item" style="display: inherit; text-align: left">
      <div class="table">
        <div class="row">
          <div class="heavy-cell"></div>
          <div class="heavy-cell" style="width: 100%;">
            <div class="item-{{rarity}}">
              {{{thumbnail}}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="heavy-cell">Name:</div>
          <div class="heavy-cell">{{name}}</div>
        </div>
        <div class="row">
          <div class="heavy-cell">Description:</div>
          <div class="heavy-cell">{{description}}</div>
        </div>
        <div class="row">
          <div class="heavy-cell">Owner:</div>
          {{#with owner}}
            <div class="heavy-cell"><a href="/profile/{{id}}">{{name}}</a></div>
          {{/with}}
        </div>
        <div class="row">
          <div class="heavy-cell">Pattern Id:</div>
          <div class="heavy-cell">{{pattern}}</div>
        </div>
        <div class="row">
          <div class="heavy-cell">Rarity:</div>
          <div class="heavy-cell"><div class="rarity-{{rarity}}">{{rarity}}</div></div>
        </div>
        <div class="row">
          <div class="cell">
          </div>
          <div class="cell">
            <form action="/equip/{{id}}">
            <button type="submit" {{#unless is_equipable }} disabled {{/unless}}>Equip</button>
            </form>
          </div>
        </div>
      </div>
    </li>
  </ul>
</body>
      
