<div class="table">
  <div class="overlay-row">
    <div class="item-overlay-cell">
        {{{thumbnail}}}
    </div>
  </div>
  <div class="item-overlay-row">
    <div class="item-overlay-cell">
      {{name}}
    </div>
  </div>
  <div class="item-overlay-row">
    <div class="item-overlay-cell">
      {{description}}
    </div>
  </div>
  <div class="item-overlay-row">
    <div class="item-overlay-cell">
      <div class="item-{{rarity}}" style="box-shadow: 3px 3px 7px black;">
        {{rarity}}
      </div>
    </div>
  </div>
</div>