{{> header title="Global Leaderboards"}}
<div style="display: flex; flex-wrap: wrap; justify-content: center">
{{#each users}}
  <div style="display: table; border: 1px solid #273B09; border-radius: 5px; margin: 5px">
    <div style="display: table-row">
      <div style="padding: 15px; vertical-align: center; display: table-cell">
        {{rank}}
      </div>
      {{#with profile}}
        <div class="profile" style="{{background}}; width: 180px">
          <p><a href="/profile/{{id}}">{{name}}</a></p>
        </div>
        {{#with level}}
          <div style="padding: 15px">
            <div>{{level}}</div>
            <div><progress max="{{next_level_xp}}" value="{{curr_xp}}"></progress></div>
          </div>
        {{/with}}
      {{/with}}
    </div>
  </div>
{{/each}}
</div>
</ul>
</body>