{{> header title="Global Leaderboards"}}
{{#each users}}
  <li class="menu-item">
    <div style="display: table" id={{id}}>
      <div style="display: table-row">
        {{#with profile}}
          <div class="profile" style="{{background}}">
            <p><a href="/profile/{{id}}" style="color: white">{{name}}</a></p>
            {{> profile-pic }}
            {{#with level}}
              <div style="text-align: left; color: white; padding-top: 10px; padding-left: 10px; padding-right: 10px">level {{level}}
              <progress max="{{next_level_xp}}" value="{{curr_xp}}"></progress></div>
            {{/with}}
          </div>
        {{/with}}
        <div class="post">
          <h3>Rank {{rank}}.</h3>
          <p style="min-height: 80px">
            {{{bio}}}
          </p>
        </div>
      </div>
    </div>
  </li>
{{/each}}
</ul>
</body>