e{{> header title="Trade offer"}}
    <li class="menu-item">
      <form action="/offer/{{receiver.id}}" method="post">
      <div class="table">
        <div class="row">
          <div class="heavy-cell"></div>
          <div class="heavy-cell" style="width: 100%;"><b>{{sender.name}} offers:</b></div>
        </div>
        <div class="row">
          {{#with sender}}
          <div class="heavy-cell" style="{{background}} text-align:center; vertical-align:top; min-width: 180px">
            <p><a href="/profile/{{id}}">{{name}}</a></p>
            {{> profile-pic }}
          </div>
          {{/with}}
          <div class="heavy-cell">
            {{#each sender_inventory}}
              <label class="item-{{rarity}}" for="{{id}}">
                <div class="hover-triggers-overlay">
                  <p>{{{thumbnail}}}</p>
                  <div class="overlay-on-hover item-overlay">
                    {{> item-overlay}}
                  </div>
                </div>
                <input type="checkbox" name="{{id}}" id="{{id}}" value="{{../sender.id}}" />
                {{name}}
              </label>
            {{/each}}
          </div>
        </div>
        <div class="row">
          <div class="heavy-cell"></div>
          <div class="heavy-cell">
            <b>
              in exchange for {{receiver.name}}'s:
            </b>
          </div>
        </div>
        <div class="row">
          {{#with receiver}}
          <div class="heavy-cell" style="{{background}} text-align:center; vertical-align:top; min-width: 180px">
            <p><a href="/profile/{{id}}">{{name}}</a></p>
            {{> profile-pic }}
          </div>
          {{/with}}
          <div class="heavy-cell">
            {{#each receiver_inventory}}
              <label class="item-{{rarity}}" for="{{id}}">
                <div class="hover-triggers-overlay">
                  <p>{{{thumbnail}}}</p>
                  <div class="overlay-on-hover item-overlay">
                    {{> item-overlay}}
                  </div>
                </div>
                <input type="checkbox" name="{{id}}" id="{{id}}" value="{{../receiver.id}}" />
                {{name}}
              </label>
            {{/each}}
          </div>
        </div>
        <div class="row">
          <div class="cell">
          </div>
          <div class="cell">
            <input type="submit" value="Submit trade offer" />
          </div>
        </div>
      </div>
      </form>
    </li>
  </ul>
</body>
