{{> header title="Profile" }}
    <li>
      <div class="table">
        <div class="row">
          <div class="cell-title"></div>
          <div class="cell-title" style="width: 100%;"><b>{{name}}</b></div>
        </div>
        <div class="row">
          <div class="cell-title" style="{{background}} text-align: center; min-width: 180px">
            {{> profile-pic }}
          </div>
          <div class="cell" style="vertical-align: top; padding: 15px">
            {{bio}}
          </div>
        </div>
        <div class="row">
          <div class="cell-title" style="vertical-align: top; text-align: right;">
            Equipped:
          </div>
          <div class="cell">
            {{#each equipped}}
              <a href="/item/{{id}}" class="item-{{rarity}}">
                <p>{{{thumbnail}}}</p>
                {{name}}
              </a>
            {{/each}}
          </div>
        </div>
        <div class="row">
          <div class="cell-title" style="vertical-align: top; text-align: right;">
            Inventory:
          </div>
          <div class="cell">
            {{#each inventory}}
              <a href="/item/{{id}}" class="item-{{rarity}}">
                <p>{{{thumbnail}}}</p>
                {{name}}
              </a>
            {{/each}}
          </div>
        </div>
        {{#if can_trade}}
          <div class="row">
          <div class="cell-title"></div>
          <div class="cell-title">
            <form action="/offer/{{id}}">
            <input type="submit" value="Make trade offer" />
            </form>
          </div>
          </div>
        {{/if}}
      </div>
    </li>
  </ul>
</body>
