{{> header title=title }}
    <script src="/scripts/thread.js" async></script>
    <li class="menu-item" style="text-align: center; margin: 5px; padding: 10px">{{title}}
    </li>
    {{#each posts}}
      <li class="menu-item">
        <div style="display: table" id={{id}}>
          <div style="display: table-row">
            {{#with author}}
              <div class="profile" style="{{background}}">
                <p><a href="/profile/{{id}}" style="color: white">{{name}}</a></p>
                {{> profile-pic }}
                <div class="badge-grid">
                  {{#each badges}}
                    {{{this}}}
                  {{/each}}
                </div>
              </div>
            {{/with}}
            <div class="post">
              <p><div style="min-height: 80px">
                {{{body}}}
              </div>
              </p>
              {{#each reactions}}
                {{> item-thumbnail}}
              {{/each}}
              <div style="float: right; text-align: right;">
              {{#if reward}}
                <div class="rarity-{{reward.rarity}} hover-triggers-overlay">
                  ⭐ <b>{{reward.name}}</b> was given for this post
                  <div class="overlay-on-hover item-overlay">
                    {{> item-overlay reward}}
                  </div>
                </div>
              {{/if}}
              {{#if can_react}}
                <a href="/react/{{id}}" class="action-box">
                + React!
                </a>
              {{/if}}
                <div class = "reply-to-button action-box" class="action-box" replyid={{id}}>
                  + Reply!
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    {{/each}}
    <form action="/reply/{{id}}" method="post" id="reply">
    <li class="menu-item" style="padding-left: 25px; padding-right: 25px">
      {{#if error}}
        <div class="row">
          <div class="cell">
          </div>
          <div class="cell">
            <div class="error"> 
              {{error}}
            </div>
          </div>
        </div>
      {{/if}}
      <div style="padding-top: 15px; padding-bottom: 15px">
        <b><label for="reply">New reply</label></b>
      </div>
      <div>
        <textarea name="reply" id="reply-textarea" rows="8" cols="100" style="width: 75%; border-radius: 5px; padding: 5px"></textarea>
        <button type="submit">Reply</button>
      </div>
    </li>
    </form>
  </ul>
</body>
