{{> header title=title }}
    <li style="background: #DBD2E0; text-align: center; margin: 5px; padding: 10px">{{title}}
    </li>
    {{#each posts}}
      <li>
        <div style="display: table">
          <div style="display: table-row">
            {{#with author}}
              <div class="profile" style="{{background}}">
                <p><a href="/profile/{{id}}">{{name}}</a></p>
                {{> profile-pic }}
              </div>
            {{/with}}
            <div class="post">
              <p><div style="min-height: 80px">
                {{body}}
              </div>
              </p>
              <div style="float: right; text-align: right;">
              {{#if reward}}
                <div class="item-{{reward.rarity}}">
                  ⭐ <b>{{reward.name}}</b> was given for this post
                </div>
              {{/if}}
              <a href="#" class="action-box">
                + React!
              </a>
              </div>
            </div>
          </div>
        </div>
      </li>
    {{/each}}
    <form action="/reply/{{id}}" method="post">
    <li>
    <div class="row">
      <div class="cell-title" style="text-align: right; vertical-align: top;">
        <label for="reply">Reply:</label>
      </div>
      <div class="cell">
        <textarea name="reply"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="cell-title">
      </div>
      <div class="cell">
        <input type="submit" value="Submit">
      </div>
    </div>
    </li>
    </form>
  </ul>
</body>
