{{> header title=title }}
    <li style="background: #DBD2E0; text-align: center; margin: 5px; padding: 10px">{{title}}
    </li>
    {{#each posts}}
      <li>
        <div style="display: table" id={{id}}>
          <div style="display: table-row">
            {{#with author}}
              <div class="profile" style="{{background}}">
                <p><a href="/profile/{{id}}">{{name}}</a></p>
                {{> profile-pic }}
              </div>
            {{/with}}
            <div class="post">
              <p><div style="min-height: 80px">
                {{body}}
              </div>
              </p>
              {{#each reactions}}
              <a href="/item/{{id}}" class="item-{{rarity}}">
                {{{thumbnail}}}
              </a>
              {{/each}}
              <div style="float: right; text-align: right;">
              {{#if reward}}
                <div class="item-{{reward.rarity}}">
                  ⭐ <b>{{reward.name}}</b> was given for this post
                </div>
              {{/if}}
              <a href="/react/{{id}}" class="action-box">
                + React!
              </a>
              </div>
            </div>
          </div>
        </div>
      </li>
    {{/each}}
    <form action="/reply/{{id}}" method="post" id="reply">
    <li>
      {{#if error}}
        <div class="row">
          <div class="cell-title">
          </div>
          <div class="cell">
            <div class="error"> 
              {{error}}
            </div>
          </div>
        </div>
      {{/if}}
    <div class="row">
      <div class="cell-title" style="text-align: right; vertical-align: top; min-width: 180px">
        <label for="reply">Reply:</label>
      </div>
      <div class="cell" style="width: 100%">
        <textarea name="reply" rows="8" cols="100"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="cell-title">
      </div>
      <div class="cell">
        <input type="submit" value="Submit">
      </div>
    </div>
    </li>
    </form>
  </ul>
</body>
