{{> header title=title }}
    <form action="/reply/{{id}}" method="post">
    <li>
    <div class="table">
      <div class="row">
        <div class="cell-title"></div>
        <div class="cell-title" style="width: 50%;"><b>{{title}}</b></div>
        <div class="cell-title" style="width: 15%;">date</div>
      </div>
    {{#each posts}}
      <div class="row">
        {{#with author}}
        <div class="cell-title" style="{{background}} text-align: center">
          <p><a href="/profile/{{id}}">{{name}}</a></p>
          {{> profile-pic }}
        </div>
        {{/with}}
        <div class="cell" style="word-wrap: wrap-word; position: relative;">
            <div>
              {{body}}
            </div>
            {{#if reward}}
              <div class="item-{{reward.rarity}}" style="position: absolute; bottom: 5px; right: 5px">
                ⭐ <b>{{reward.name}}</b> was given for this post
              </div>
            {{/if}}
        </div>
        <div class="cell">
          {{date}}
        </div>
      </div>
    {{/each}}
    <div class="row">
      <div class="cell-title" style="text-align: right; vertical-align: top;">
        <label for="reply">Reply:</label>
      </div>
      <div class="cell">
        <textarea name="reply"></textarea>
      </div>
      <div class="cell">
      </div>
    </div>
    <div class="row">
      <div class="cell-title">
      </div>
      <div class="cell">
        <input type="submit" value="Submit">
      </div>
      <div class="cell">
      </div>
    </div>
    </li>
    </form>
  </ul>
</body>
